<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="background-color: #445175; width: inherit; border-radius: 25px;">
                <div class="jumbotron-fluid">
                    <h1 style="color: rgb(205, 205, 224);">This map is ran by BNO News, however I am working on a new map that will be out by the end of the week! Thank you for waiting, the new version will be synced with the data page and allow for more information to be displayed. - Avi</h1>
                  </div>
                <iframe src="https://www.google.com/maps/d/embed?mid=1a04iBi41DznkMaQRnICO40ktROfnMfMx" width="100%" height="850px"></iframe>
            </div>
        </div>
    </div>

<%- include('./partials/scripts'); -%>
</body>

</html>
